.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.container .addForm {
    display: flex;
    flex-direction: column;
}